{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'money/css/style.css' %}">
</head>

<body>
    <div class="contner">
        <div class="content1">
            <h2>節約日記</h2>
            <form action="{% url 'money:create' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <fieldset>
                        <label for="purpose">日記タイトル</label>
                        <input type="text" name="purpose" id="purpose" placeholder="例: 食費を抑える">

                        <label for="day">継続する日数</label>
                        <div class="input-group">
                            <select name="day" id="day">
                                <option>7</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                            <span class="unit">日</span>
                        </div>
                
                        <label for="amount">1日の制限する金額</label>
                        <div class="input-group">
                            <input type="text" name="text" id="amount" placeholder="例:1000">
                            <span class="unit">円</span>
                        </div>
                </fieldset>
                <input type="submit" value="登録">
            </form>

            <div class="content2">
                <ul>
                {% for money in money_list %}
                
                    <li>{{ money.purpose_text }}
                        <a href="{% url 'money:result' money.id %}">節約判定</a>
                        <a href="{% url 'money:delete' money.id %}">諦める</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
</body>